<div class="sm:main-container mobile-container">
<div class="sm:grid sm:gap-6 sm:grid-cols-12">
  <div class="col-span-6">
    <div class="grid sm:gap-6 sm:mb-6 mb-4 gap-4 grid-cols-12">
      <div class="col-span-6 theme-bg-color p-[0.94rem]  sm:p-[1.56rem] rounded-lg">
        <div class="flex justify-between">
          <div>
            <div class="sm:theme-h3 theme-heading-mobile">10:00</div>
            <div class="sm:theme-font theme-font-mobile">Time In</div>
          </div>
          <div><img src="../../../assets/img/Time In.svg" alt="" /></div>
        </div>
      </div>
      <div class="col-span-6 theme-bg-color p-[0.94rem]  sm:p-[1.56rem] rounded-lg">
        <div class="flex justify-between">
          <div>
            <div class="sm:theme-h3 theme-heading-mobile">19:22</div>
            <div class="sm:theme-font theme-font-mobile">Time Out</div>
          </div>
          <div><img src="../../../assets/img/Time Out.svg" alt="" /></div>
        </div>
      </div>
    </div>
    <div class="grid sm:gap-6 gap-4 sm:mt-6 mt-4 grid-cols-12">
      <div class="col-span-6 theme-bg-color p-[0.94rem]  sm:p-[1.56rem] rounded-lg">
        <div class="flex justify-between">
          <div>
            <div class="sm:theme-h3 theme-heading-mobile">03:24</div>
            <div class="sm:theme-font theme-font-mobile">Total Hours</div>
          </div>
          <div><img src="../../../assets/img/Total Hour.svg" alt="" /></div>
        </div>
      </div>
      <div class="col-span-6 theme-bg-color p-[0.94rem]  sm:p-[1.56rem] rounded-lg">
        <div class="flex justify-between">
          <div>
            <div class="sm:theme-h3 theme-heading-mobile">22 Days</div>
            <div class="sm:theme-font theme-font-mobile">My Attendance</div>
          </div>
          <div><img src="../../../assets/img/Days.svg" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-6 rounded-lg dashboard-container-right">
    <div class="hidden sm:grid sm:grid-cols-12 sm:items-center">
      <div class="col-span-6 p-[1.56rem]">
        <h2 class="theme-h2-wel">Welcome!</h2>
        <h1 class="theme-h1">Mayank Bundheliya</h1>
        <i class="lastpunch">Last punch at 09:55 AM</i>
      </div>
      <div class="col-span-6">
        <div>
          <img src="../../../assets/img/banner-img 1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sm:grid item grid-cols-12 sm:mt-10 mt-4 gap-6">
  <div class="col-span-6 theme-border sm:p-[1.87rem] p-[0.94rem] rounded-lg">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-4">
        <img class="w-9" src="../../../assets/img/user.svg" alt="" />
        <p class="sm:theme-h2 h2-mobile ms-2">Monthly Worked Hours</p>
      </div>
      <p class="sm:theme-h3 theme-heading-mobile theme-font-color">57:22</p>
    </div>
  </div>
  <div class="col-span-6 sm:mt-0 mt-4 theme-border sm:p-[1.87rem] p-[0.94rem] rounded-lg">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-4">
        <img class="w-11" src="../../../assets/img/Leave Balance.svg" alt="" />
        <p class="sm:theme-h2 h2-mobile">Leave Balance</p>
      </div>
      <p class="sm:theme-h3 theme-heading-mobile theme-font-color">08 Days</p>
    </div>
  </div>
</div>

<div class="grid item grid-cols-12 sm:mt-10 mt-4 gap-6">
    <div class="col-span-12 theme-border sm:p-[1.87rem] p-[0.94rem] rounded-lg">
        <div class="sm:theme-h2 h4-mobile">
        My Monthly Statistics
    </div>
        <div class="grid item grid-cols-12 sm:mt-10  mt-4 sm:gap-6 gap-4">
            <div class="sm:col-span-2  col-span-4  rounded-md dashboard-last-box">
                <p class="sm:theme-h4 h3-mobile theme-font-color">01</p>
                <p class="sm:theme-h2 h2-mobile">Mis Punch</p>
            </div>
            <div class="sm:col-span-2  col-span-4  rounded-md dashboard-last-box">
                <p class="sm:theme-h4 h3-mobile theme-font-color">01</p>
                <p class="sm:theme-h2 h2-mobile">Absent</p>
            </div>
            <div class="sm:col-span-2  col-span-4  rounded-md dashboard-last-box">
                <p class="sm:theme-h4 h3-mobile theme-font-color">01</p>
                <p class="sm:theme-h2 h2-mobile">Holiday</p>
            </div>
            <div class="sm:col-span-2  col-span-4  rounded-md dashboard-last-box">
                <p class="sm:theme-h4 h3-mobile theme-font-color">01</p>
                <p class="sm:theme-h2 h2-mobile">Approved</p>
            </div>
            <div class="sm:col-span-2  col-span-4  rounded-md dashboard-last-box">
                <p class="sm:theme-h4 h3-mobile theme-font-color">01</p>
                <p class="sm:theme-h2 h2-mobile">Pending</p>
            </div>
            <div class="sm:col-span-2  col-span-4  rounded-md dashboard-last-box">
                <p class="sm:theme-h4 h3-mobile theme-font-color">01</p>
                <p class="sm:theme-h2 h2-mobile">Rejected</p>
            </div>
        </div>
    </div>
</div>
</div>